.library{
    position: fixed;
    top:0;
    left:0;
    width:18rem;
    height:100%;
    background-color: #f4f6ff;
    box-shadow: 2px 2px 50px rgb(207, 207, 207);
    overflow: scroll;
    transform:translateX(-100%);
    transition: all 0.5s ease;
    opacity:0;
    h2{
        padding: 2rem;
    }
}


.library-song{
    
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    img{
        width:30%;
       
    }
    &:hover{
        background-color: rgb(164, 185, 243);
        
    }
}


.song-description{
    padding-left:1rem;
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.7rem;
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.7) transparent;

}

*::-webkit-scrollbar{
    width: 5px;
}


*::-webkit-scrollbar-track{
    background:transparent;
}


*::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: transparent;
    background:rgba(155,155,155,0.7);
}
.selected{
    background-color:rgb(245, 189, 151);
}

.active-library{
    transform:translateX(0%);
    opacity:1;
}

@media screen and(max-width:768px) {
    .library{
        width: 100%;
    }
}